.products{
    background-image: url('../../assets/wav.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.product{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.backPage{
    display: flex;
    align-items: center;
}
.backPage button{
    background-color: black;
    color: white;
    padding: 15px;
    border: 0;
    cursor: pointer;
}