.products{
    background-image: url('../../assets/wav.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.product{
    display: flex;
    align-items: center;
    margin: 0 200px;
}