.home {
    background-image: url('../../assets/wav.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.categories {
    margin: 0 400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.categories_card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.photo img {
    width: 500px;
    height: 200px;
    border-radius: 144px;
    object-fit: cover;
    transition: transform 0.2s, box-shadow 0.2s, filter 0.2s;
}

.photo img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    filter: brightness(0.8); /* Escurece a imagem ao passar o mouse */
    border: 2px solid rgb(255, 255, 255);
}

.name span {
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    transition: font-size 0.2s; /* Adicione uma transição para o tamanho da fonte */
}
.categories_card:hover .name span {
    font-size: 28px; /* Aumenta o tamanho do nome ao passar o mouse sobre o cartão */
    color: rgb(206, 206, 206);
}